::placeholder{
     padding-left: 15px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 700;
    
   background: rgb(255, 255, 255);
}


